.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

button {
	border: 1px solid transparent;
/*	height: inherit;*/
	line-height: inherit;
	/*width: 100%;*/
	/*padding: 0;*/
	background: #2580D8;
	color: #ffffff;
	padding: 15px 0;
	border-radius: 2%;
	/*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);*/
	border-radius: 5px;
}

button,
input,
select,
textarea {
	font-size: 1.5rem;
	outline: 0;
	/*border-radius: 1%;*/
	border: 1px solid #D4D4D4;
	padding: 0;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #333;
    text-decoration: none;
}

.btn-default {
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
}
.btn-default.focus,.btn-default:focus {
	color:#333;
	background-color:#e6e6e6;
	border-color:#8c8c8c
}
.btn-default:hover {
	color:#333;
	background-color:#e6e6e6;
	border-color:#adadad
}
.btn-primary {
	color:#fff;
	background-color:#337ab7;
	border-color:#2e6da4
}
.btn-primary.focus,.btn-primary:focus {
	color:#fff;
	background-color:#286090;
	border-color:#122b40
}
.btn-primary:hover {
	color:#fff;
	background-color:#286090;
	border-color:#204d74
}
[role="button"] {
    cursor: pointer;
}
.btn{
padding: 3px 4px;
    border-radius:0px;
}
.btn-default,.btn-default:hover,.btn-default:focus {
    background-color: #000;
    border-color: #000;
    color: #FFFFFF;
}

.btn-primary,.btn-primary:hover,.btn-primary:focus {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
}