@CHARSET "UTF-8";
@media screen and (max-width: 1201px) { 
.page .menu-wrap {
	width: 50px;
}
.page .logo-desc-text{
    display:none;
}
.page .main-wrap {
	margin-left: 50px;
}
.page .menu>ul.nav>li>a>.nav-text {
	display: none;
}
.page .menu>ul.nav>li>a>.nav-caret{
    display: none;
}
.page .menu>ul.nav>li>ul>li .nav-icon{
     display: none; 
}
.page .menu li:hover>ul{
    display: block; 
}
.page .menu li li>ul{
   /*  display: none; */
}
.page .menu>ul.nav>li>ul>li .nav-text{
    margin-left:5px;
    padding-left:5px;
}
.page .menu>ul.nav>li>ul {
	position: absolute;
	left: 50px;
	top: 0px;
	diplay: block;
	width: 100px;
	z-index: 2000;
	background-color:  #2E3E4E;
}




}
.collapse1 .logo-desc-text{
	display:none;
}
.collapse1 .menu-wrap {
    width: 50px;
}
.collapse1 .main-wrap {
    margin-left: 50px;
}
.collapse1  .menu>ul.nav>li>a>.nav-text {
    display: none;
}
.collapse1 .menu>ul.nav>li>a>.nav-caret{
    display: none;
}
 .collapse1 .menu>ul.nav>li>ul>li .nav-icon{
  /*   display: none; */
}
 .collapse1 .menu li:hover>ul{
   /*  display: block; */
}
 .collapse1 .menu li li>ul{
   /*  display: none; */
}
.collapse1 .menu>ul.nav>li>ul>li .nav-text{
    margin-left:5px;
    padding-left:5px;
}
 .collapse1 .menu>ul.nav>li>ul {
    position: absolute;
    left: 50px;
    top: 0px;
    diplay: block;
    width: 100px;
    z-index: 2000;
    background-color:  #2E3E4E;
}
