@CHARSET "UTF-8";

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10
{
/*float:left;*/
    display:inline-block;
}
.col-1{
width:10%;
}
.col-2{

width:20%;
}

.col-3{
width:30%;
}
.col-4{
width:40%;
}
.col-5{
width:50%;
}
.col-6{
width:60%;
}
.col-7{
width:70%;
}
.col-8{
width:80%;
}
.col-9{
width:90%;
}
.col-10{
width:100%;
}
.left-1{
    margin-left:10%;
}
.right-1{
    margin-right:10%;
}

.fix-width-midle{
    margin-left: auto;
       margin-right: auto;
}
/*.middle-center{

    margin-left:auto;
    margin-right:auto;


}*/
.horizon-center{
     margin-left: auto!important;
        margin-right: auto!important;
          display:block;
}
.vertical-center{
position:relative;
 top:50%;
  margin-top: -1px; /***常用的居中****/
  display:block;
}
.hv-center{
	position:absolute;
	top:50%;
	left:50%;
}

.left{
float:left;
}
.right{
float:right;
}
.text-left {
text-align:left;
}
.text-right{
text-align:right;

}

    .clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
    .clearfix{*+height:1%;}
    
    
    .footer{
    	/*position:fixed;*/
    	border:1px solid red;
    	background-color:white;
    	line-height:2.5rem;
    	font-size:1rem;
    	bottom:0px;
    	/*width:100%;*/
    }

    .fix-top{
        position:fixed;
        top:0px;
        width:100%;
        z-index:1000;
    }
 .fix-bottom{
        position:fixed;
        bottom:0px;
        width:100%;
        z-index:1000;
    }