<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dozenx.web.module.merchant.merchantNews.dao.MerchantNewsMapper">
  <resultMap id="BaseResultMap" type="com.dozenx.web.module.merchant.merchantNews.bean.MerchantNews">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="content" jdbcType="VARCHAR" property="content" />
      <result column="merid" jdbcType="BIGINT" property="merid" />
  </resultMap>
  <sql id="Base_Column_List">
    merchant_news.`id` ,merchant_news.`content` ,merchant_news.`merid` 
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant_news
    where merchant_news.id =   #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from merchant_news
    where id = #{id,jdbcType=INTEGER}
  </delete>
 <insert id="insert" useGeneratedKeys="true" keyProperty="id"   parameterType="com.dozenx.web.module.merchant.merchantNews.bean.MerchantNews" >

    insert into merchant_news (  <include refid="Base_Column_List" />)
    values (
#{id,jdbcType=INTEGER}
,#{content,jdbcType=VARCHAR}
,#{merid,jdbcType=BIGINT}
    )
  </insert>
   <insert id="insertSelective" parameterType="com.dozenx.web.module.merchant.merchantNews.bean.MerchantNews" >
    insert into merchant_news
    <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="id != null" >  
           `id`, 
        </if>  
        <if test="content != null" >  
           `content`, 
        </if>  
        <if test="merid != null" >  
           `merid`, 
        </if>  
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="id != null" >  
          #{id,jdbcType=INTEGER},
        </if>  
        <if test="content != null" >  
          #{content,jdbcType=VARCHAR},
        </if>  
        <if test="merid != null" >  
          #{merid,jdbcType=BIGINT},
        </if>  
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dozenx.web.module.merchant.merchantNews.bean.MerchantNews" >
    update merchant_news
    <set >
        <if test="id != null" >  
             `id`=#{id,jdbcType=INTEGER},
        </if>  
        <if test="content != null" >  
             `content`=#{content,jdbcType=VARCHAR},
        </if>  
        <if test="merid != null" >  
             `merid`=#{merid,jdbcType=BIGINT},
        </if>  
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dozenx.web.module.merchant.merchantNews.bean.MerchantNews" >
    update merchant_news
    set 
              `content`=#{content,jdbcType=VARCHAR},  
              `merid`=#{merid,jdbcType=BIGINT}  
where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="listByParams" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant_news where 1=1
        <if test="id != null and id != '' ">  
           and `id` = #{id}
        </if>  
        <if test="content != null and content != '' ">  
           and `content` = #{content}
        </if>  
        <if test="contentLike != null and contentLike != '' ">  
             and `content` like "%"#{contentLike}"%"
        </if>   
        <if test="merid != null and merid != '' ">  
           and `merid` = #{merid}
        </if>  
  </select>
   <select id="listByParams4Page" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant_news

    where 1=1
        <if test="id != null and id != '' ">  
           and merchant_news.`id` = #{id}
        </if>  
        <if test="content != null and content != '' ">  
           and merchant_news.`content` = #{content}
        </if>  
        <if test="contentLike != null and contentLike != '' ">  
             and merchant_news.`content` like "%"#{contentLike}"%"
        </if>   
        <if test="merid != null and merid != '' ">  
           and merchant_news.`merid` = #{merid}
        </if>  
  </select>
   <select id="countByParams" parameterType="map" resultType="java.lang.Integer">
    select 
    count(1) 
    from merchant_news where 1=1
        <if test="id != null and id != '' ">  
           and merchant_news.`id` = #{id}
        </if>  
        <if test="content != null and content != '' ">  
           and merchant_news.`content` = #{content}
        </if>  
        <if test="contentLike != null and contentLike != '' ">  
             and merchant_news.`content` like "%"#{contentLike}"%"
        </if>   
        <if test="merid != null and merid != '' ">  
           and merchant_news.`merid` = #{merid}
        </if>  
  </select>
 <select id="countByOrParams" parameterType="map" resultType="java.lang.Integer">
    select
    count(1)
    from merchant_news where 1!=1
        <if test="id != null and id != '' ">
           or `id` = #{id}
        </if>
        <if test="content != null and content != '' ">
           or `content` = #{content}
        </if>
        <if test="merid != null and merid != '' ">
           or `merid` = #{merid}
        </if>
  </select>
</mapper>
