<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cola.machine.dao.ActivityDao">

	<!-- 新增记录 -->  <!-- type是类的路径 id是影后引用的id -->
	<resultMap type="cola.machine.bean.Activity"
		id="ActivityMap">
		<id property="activityId" column="ACTIVITYID" />
		<result property="title" column="TITLE" />
		<result property="startTime"  column="STARTTIME" />
		<result property="endTime" column="ENDTIME" />
		<result property="address" column="ADDRESS" />
		<result property="description" column="DESCRIPTION" />
		<result property="type" column="TYPE" />
		<result property="userId" column="USERID" />
		<result property="busyLevel" column="BUSYLEVEL" />
		<result property="privacy" column="PRIVACY" />
	</resultMap>

	<select id="selecActivityByActivityId" parameterType="string"
		resultType="cola.machine.bean.Activity">
		SELECT * FROM activity WHERE ACTIVITYID = #{ActivityId}
	</select>

	<insert id="insertActivity" parameterType="cola.machine.bean.Activity">
		INSERT INTO
		activity(ACTIVITYID,TITLE,STARTTIME,ENDTIME,ADDRESS,DESCRIPTION,TYPE,BUSYLEVEL,USERID)
		VALUES(#{activityId},#{title},#{startTime},#{endTime},#{address},#{description},#{type},#{busyLevel},#{userId})
	</insert>

	<update id="updateActivity" parameterType="cola.machine.bean.Activity">
		UPDATE activity SET TITLE=#{title},STARTTIME =
		#{startTime},ENDTIME = #{endTime}
		,ADDRESS = #{address},DESCRIPTION = #{description},TYPE = #{type},BUSYLEVEL =
		#{busyLevel} WHERE ACTIVITYID = #{activityId}
	</update>

	<delete id="deleteActivity" parameterType="java.lang.String">
		DELETE FROM activity WHERE
		ACTIVITYID = #{ACTIVITYID}
	</delete>

	<select id="selectActivityBetween2Date" resultType="cola.machine.bean.Activity"
		parameterType="java.util.Map">
		SELECT * FROM activity WHERE USERID=#{USERID} AND  (STARTTIME BETWEEN #{STARTTIME} AND #{ENDTIME}
		OR ENDTIME BETWEEN #{STARTTIME} AND #{ENDTIME})
	</select>
	
    
	
		<select id="getActivityById" resultType="cola.machine.bean.Activity"
		parameterType="java.lang.String">
		SELECT * FROM activity WHERE ACTIVITYID=#{ACTIVITYID}
	</select>
	
	
</mapper>