<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cola.machine.dao.UserMapper">
 	<resultMap id="BaseResultMap" type="cola.machine.bean.User">
      <id column="userid" jdbcType="VARCHAR" property="userid" />
      <result column="loginname" jdbcType="VARCHAR" property="loginname" />
      <result column="nickname" jdbcType="VARCHAR" property="nickname" />
      <result column="pwd" jdbcType="VARCHAR" property="pwd" />
      <result column="email" jdbcType="VARCHAR" property="email" />
      <result column="username" jdbcType="VARCHAR" property="username" />
      <result column="telno" jdbcType="VARCHAR" property="telno" />
      <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
      <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    `userid` ,`loginname` ,`nickname` ,`pwd` ,`email` ,`username` ,`telno` ,`createtime` ,`status` 
   
  </sql>
  	<insert id="insertUser" parameterType="cola.machine.bean.User">
  		insert into user(userid,loginname,nickname,username,pwd,email,telno) values(#{userid},#{loginname},#{nickname},#{username},#{pwd},#{email},#{telno})
  	</insert>
  	  <select id="countAll" resultType="java.lang.Integer">
        select count(*) c from user;
    </select>
<!--  查询单条记录	-->
	<select id="selectUserByUserId" parameterType="string" resultMap="BaseResultMap">
		select * from user where userid = #{userid}
  	</select>
  	
  	<select id="selectUserByEmail" parameterType="string" resultMap="BaseResultMap">
		select * from user where email = #{email}
  	</select>
  	
  	<select id="selectUserByLoginName" parameterType="string" resultMap="BaseResultMap">
	
		SELECT * FROM user where loginname=#{loginname}
  	</select>
<!--  修改记录	-->
  	<update id="updateUser" parameterType="cola.machine.bean.User">
  		update user set username = #{username},loginname = #{loginname},pwd = #{pwd},status=#{status} where userid = #{userid}
  	</update>
  	
  		<update id="resetPwd" parameterType="cola.machine.bean.User">
  		update user set pwd = #{pwd}  where userid = #{userid}
  	</update>
<!--  查询所有记录，查询多条记录即返回结果是一个集合的时候，resultType不是集合类型，而是集合所包含的类型	-->
  	<select id="selectAll" resultType="cola.machine.bean.User">
  		select * from user
  	</select>
<!--  模糊查询	-->
  	<select id="fuzzyQuery" resultType="cola.machine.bean.User" parameterType="java.lang.String">
  		select * from user where username like "%"#{username}"%"
  	</select>
	<select id="getUsersByParam" resultType="map" parameterType="map">
  		select * from user where 1=1
		<if test="loginname != null">  
			and loginname = #{loginname}  
		</if>  
		<if test="nickname != null">  
			and nickname = #{nickname}  
		</if>  
		<if test="email != null">  
			and email = #{email}  
		</if>  
		<if test="pwd != null">  
			and pwd = #{pwd}  
		</if>  
			<if test="telno != null">  
			and telno = #{telno}  
		</if>  
  	</select>
	
<!--  删除记录	-->
	<delete id="deleteUser" parameterType="java.lang.String">
		delete from user where userid = #{userid}
	</delete>
	
	
	 <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where userid =   #{userid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where userid = #{userid,jdbcType=VARCHAR}
  </delete>
 <insert id="insert"    parameterType="cola.machine.bean.User" >

    insert into user (  <include refid="Base_Column_List" />)
    values (
#{userid,jdbcType=VARCHAR}
,#{loginname,jdbcType=VARCHAR}
,#{nickname,jdbcType=VARCHAR}
,#{pwd,jdbcType=VARCHAR}
,#{email,jdbcType=VARCHAR}
,#{username,jdbcType=VARCHAR}
,#{telno,jdbcType=CHAR}
,#{createtime,jdbcType=TIMESTAMP}
,#{status,jdbcType=TINYINT}
    )
  </insert>
   <insert id="insertSelective" parameterType="cola.machine.bean.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="userid != null" >  
           `userid`, 
        </if>  
        <if test="loginname != null" >  
           `loginname`, 
        </if>  
        <if test="nickname != null" >  
           `nickname`, 
        </if>  
        <if test="pwd != null" >  
           `pwd`, 
        </if>  
        <if test="email != null" >  
           `email`, 
        </if>  
        <if test="username != null" >  
           `username`, 
        </if>  
        <if test="telno != null" >  
           `telno`, 
        </if>  
        <if test="createtime != null" >  
           `createtime`, 
        </if>  
        <if test="status != null" >  
           `status`, 
        </if>  
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="userid != null" >  
          #{userid,jdbcType=VARCHAR},
        </if>  
        <if test="loginname != null" >  
          #{loginname,jdbcType=VARCHAR},
        </if>  
        <if test="nickname != null" >  
          #{nickname,jdbcType=VARCHAR},
        </if>  
        <if test="pwd != null" >  
          #{pwd,jdbcType=VARCHAR},
        </if>  
        <if test="email != null" >  
          #{email,jdbcType=VARCHAR},
        </if>  
        <if test="username != null" >  
          #{username,jdbcType=VARCHAR},
        </if>  
        <if test="telno != null" >  
          #{telno,jdbcType=CHAR},
        </if>  
        <if test="createtime != null" >  
          #{createtime,jdbcType=TIMESTAMP},
        </if>  
        <if test="status != null" >  
          #{status,jdbcType=TINYINT},
        </if>  
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cola.machine.bean.User" >
    update user
    <set >
        <if test="userid != null" >  
             `userid`=#{userid,jdbcType=VARCHAR},
        </if>  
        <if test="loginname != null" >  
             `loginname`=#{loginname,jdbcType=VARCHAR},
        </if>  
        <if test="nickname != null" >  
             `nickname`=#{nickname,jdbcType=VARCHAR},
        </if>  
        <if test="pwd != null" >  
             `pwd`=#{pwd,jdbcType=VARCHAR},
        </if>  
        <if test="email != null" >  
             `email`=#{email,jdbcType=VARCHAR},
        </if>  
        <if test="username != null" >  
             `username`=#{username,jdbcType=VARCHAR},
        </if>  
        <if test="telno != null" >  
             `telno`=#{telno,jdbcType=CHAR},
        </if>  
        <if test="createtime != null" >  
             `createtime`=#{createtime,jdbcType=TIMESTAMP},
        </if>  
        <if test="status != null" >  
             `status`=#{status,jdbcType=TINYINT},
        </if>  
    </set>
    where id = #{userid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cola.machine.bean.User" >
    update user
    set 
              `loginname`=#{loginname,jdbcType=VARCHAR},  
              `nickname`=#{nickname,jdbcType=VARCHAR},  
              `pwd`=#{pwd,jdbcType=VARCHAR},  
              `email`=#{email,jdbcType=VARCHAR},  
              `username`=#{username,jdbcType=VARCHAR},  
              `telno`=#{telno,jdbcType=CHAR},  
              `createtime`=#{createtime,jdbcType=TIMESTAMP},  
              `status`=#{status,jdbcType=TINYINT}  
where id = #{userid,jdbcType=VARCHAR}
  </update>
  <select id="listByParams" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user where 1=1
        <if test="userid != null and userid != '' ">  
           and `userid` = #{userid}
        </if>  
        <if test="useridLike != null and useridLike != '' ">  
             and `userid` like "%"#{useridLike}"%"
        </if>   
        <if test="loginname != null and loginname != '' ">  
           and `loginname` = #{loginname}
        </if>  
        <if test="loginnameLike != null and loginnameLike != '' ">  
             and `loginname` like "%"#{loginnameLike}"%"
        </if>   
        <if test="nickname != null and nickname != '' ">  
           and `nickname` = #{nickname}
        </if>  
        <if test="nicknameLike != null and nicknameLike != '' ">  
             and `nickname` like "%"#{nicknameLike}"%"
        </if>   
        <if test="pwd != null and pwd != '' ">  
           and `pwd` = #{pwd}
        </if>  
        <if test="pwdLike != null and pwdLike != '' ">  
             and `pwd` like "%"#{pwdLike}"%"
        </if>   
        <if test="email != null and email != '' ">  
           and `email` = #{email}
        </if>  
        <if test="emailLike != null and emailLike != '' ">  
             and `email` like "%"#{emailLike}"%"
        </if>   
        <if test="username != null and username != '' ">  
           and `username` = #{username}
        </if>  
        <if test="usernameLike != null and usernameLike != '' ">  
             and `username` like "%"#{usernameLike}"%"
        </if>   
        <if test="telno != null and telno != '' ">  
           and `telno` = #{telno}
        </if>  
        <if test="telnoLike != null and telnoLike != '' ">  
             and `telno` like "%"#{telnoLike}"%"
        </if>   
        <if test="createtime != null and createtime != '' ">  
           and `createtime` = #{createtime}
        </if>  
        <if test="createtimeBegin != null and createtimeBegin != '' ">  
             and `createtime` &gt;= #{createtimeBegin}
        </if>   
         <if test="createtimeEnd != null and createtimeEnd != '' ">  
             and `createtime` &lt;= #{createtimeEnd}
        </if> 
        <if test="createtimeBegin != null and createtimeBegin != '' ">  
             and `createtime` &gt;= #{createtimeBegin}
        </if>   
         <if test="createtimeEnd != null and createtimeEnd != '' ">  
             and `createtime` &lt;= #{createtimeEnd}
        </if> 
        <if test="status != null and status != '' ">  
           and `status` = #{status}
        </if>  
  </select>
   <select id="listByParams4Page" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user where 1=1
        <if test="userid != null and userid != '' ">  
           and `userid` = #{userid}
        </if>  
        <if test="useridLike != null and useridLike != '' ">  
             and `userid` like "%"#{useridLike}"%"
        </if>   
        <if test="loginname != null and loginname != '' ">  
           and `loginname` = #{loginname}
        </if>  
        <if test="loginnameLike != null and loginnameLike != '' ">  
             and `loginname` like "%"#{loginnameLike}"%"
        </if>   
        <if test="nickname != null and nickname != '' ">  
           and `nickname` = #{nickname}
        </if>  
        <if test="nicknameLike != null and nicknameLike != '' ">  
             and `nickname` like "%"#{nicknameLike}"%"
        </if>   
        <if test="pwd != null and pwd != '' ">  
           and `pwd` = #{pwd}
        </if>  
        <if test="pwdLike != null and pwdLike != '' ">  
             and `pwd` like "%"#{pwdLike}"%"
        </if>   
        <if test="email != null and email != '' ">  
           and `email` = #{email}
        </if>  
        <if test="emailLike != null and emailLike != '' ">  
             and `email` like "%"#{emailLike}"%"
        </if>   
        <if test="username != null and username != '' ">  
           and `username` = #{username}
        </if>  
        <if test="usernameLike != null and usernameLike != '' ">  
             and `username` like "%"#{usernameLike}"%"
        </if>   
        <if test="telno != null and telno != '' ">  
           and `telno` = #{telno}
        </if>  
        <if test="telnoLike != null and telnoLike != '' ">  
             and `telno` like "%"#{telnoLike}"%"
        </if>   
        <if test="createtime != null and createtime != '' ">  
           and `createtime` = #{createtime}
        </if>  
        <if test="createtimeBegin != null and createtimeBegin != '' ">  
             and `createtime` &gt;= #{createtimeBegin}
        </if>   
         <if test="createtimeEnd != null and createtimeEnd != '' ">  
             and `createtime` &lt;= #{createtimeEnd}
        </if> 
        <if test="status != null and status != '' ">  
           and `status` = #{status}
        </if>  
  </select>
   <select id="countByParams" parameterType="map" resultType="java.lang.Integer">
    select 
    count(1) 
    from user where 1=1
        <if test="userid != null and userid != '' ">  
           and `userid` = #{userid}
        </if>  
        <if test="useridLike != null and useridLike != '' ">  
             and `userid` like "%"#{useridLike}"%"
        </if>   
        <if test="loginname != null and loginname != '' ">  
           and `loginname` = #{loginname}
        </if>  
        <if test="loginnameLike != null and loginnameLike != '' ">  
             and `loginname` like "%"#{loginnameLike}"%"
        </if>   
        <if test="nickname != null and nickname != '' ">  
           and `nickname` = #{nickname}
        </if>  
        <if test="nicknameLike != null and nicknameLike != '' ">  
             and `nickname` like "%"#{nicknameLike}"%"
        </if>   
        <if test="pwd != null and pwd != '' ">  
           and `pwd` = #{pwd}
        </if>  
        <if test="pwdLike != null and pwdLike != '' ">  
             and `pwd` like "%"#{pwdLike}"%"
        </if>   
        <if test="email != null and email != '' ">  
           and `email` = #{email}
        </if>  
        <if test="emailLike != null and emailLike != '' ">  
             and `email` like "%"#{emailLike}"%"
        </if>   
        <if test="username != null and username != '' ">  
           and `username` = #{username}
        </if>  
        <if test="usernameLike != null and usernameLike != '' ">  
             and `username` like "%"#{usernameLike}"%"
        </if>   
        <if test="telno != null and telno != '' ">  
           and `telno` = #{telno}
        </if>  
        <if test="telnoLike != null and telnoLike != '' ">  
             and `telno` like "%"#{telnoLike}"%"
        </if>   
        <if test="createtime != null and createtime != '' ">  
           and `createtime` = #{createtime}
        </if>  
        <if test="createtimeBegin != null and createtimeBegin != '' ">  
             and `createtime` &gt;= #{createtimeBegin}
        </if>   
         <if test="createtimeEnd != null and createtimeEnd != '' ">  
             and `createtime` &lt;= #{createtimeEnd}
        </if> 
        <if test="status != null and status != '' ">  
           and `status` = #{status}
        </if>  
  </select>

</mapper>